
<h1>Welcome to a blog. Click below to read articles or create a new one</h1>

<%= link_to 'List of Articles', controller: 'articles' %>
<%= link_to 'New Article', new_article_path %>


<p>Find me in app/views/welcome/index.html.erb</p>
